@model MC1000.Models.UserViewModel

@{
    ViewData["Title"] = "BlockUser";
    Layout = "~/Areas/CMS/Views/Shared/_Layout.cshtml";
}

<h1>Block User</h1>

            
<h4>Selected User: </h4>
<h5>@Model.Email</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BlockUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @if (Model.IsEnabled == true)
                {
                    <input type="checkbox" name="SelectedRoles" value="@Model.IsEnabled" checked /> <p>Allowed</p>
                }
                else
                {
                    <input type="checkbox" name="SelectedRoles" value="@Model.IsEnabled"/> <p>Blocked</p>
                }
                <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

