
@{
    ViewData["Title"] = "AlgemeneVoorwaarden";
}
<link href="~/css/home.css" rel="stylesheet" />
<section class="page-section portfolio" id="portfolio">
    <div class="container" id="Algemenevoorwaarden">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary">Algemene Voorwaarden</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Wat is niet toegestaan op MC1000?</p>
                <ul>
                    <li>Het beledigen en provoceren van andere gebruikers</li>
                    <li>Discriminatie en racisme</li>
                    <li>Reclame maken, spammen</li>
                    <li>Linken naar illegale websites/zaken</li>
                    <li>Het plaatsen van persoonlijke gegevens van derden</li>
                    <li>Het plaatsen van enquêtes, marketing-, studie- of schoolonderzoeken</li>
                    <li>Het plaatsen van pornografisch en/of shockerend beeldmateriaal</li>
                    <li>Het gebruik van meer dan één gebruikersnaam binnen een discussie</li>
                    <li>Het plaatsen van afbeeldingen en/of teksten te plaatsen die auteursrechtelijk beschermd zijn.</li>
                </ul>
            </div>
            <div class="col-lg-4 ml-auto">
                <p class="lead">Minderjarigen</p>
                <ol>
                    <li>Deelnemers onder de 16 jaar dienen toestemming te hebben van zijn/haar ouders of zijn/haar wettelijke vertegenwoordiger voor het deelnemen aan MC1000 online onder toepasselijkheid van de Algemene Voorwaarden. MC1000 aanvaardt geen enkele aansprakelijkheid indien dit niet het geval blijkt te zijn.</li>
                    <li>MC1000 behoudt zich het recht voor om deelnemers onder de 16 jaar van deelname uit te sluiten en/of hun materiaal te verwijderen van MC1000 indien zij niet op verzoek kunnen aantonen dat zij de vereiste toestemming hebben gekregen.</li>
                </ol>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">Copyright notice</p>
                <p>
                    Alle (intellectuele) eigendomsrechten met betrekking tot MC1000 en het logo van MC1000, waaronder in ieder geval worden begrepen de merkrechten, berusten uitsluitend bij MC1000 supermarkten. MC1000 supermarkten behoudt zich deze rechten uitdrukkelijk voor.

                    De (auteurs-)rechten met betrekking tot het format en de inhoud van deze website (de daarin opgenomen gegevens, afbeeldingen, geluiden, teksten en andere informatie) berustend uitsluitend bij MC1000 Supermarkten B.V. en/of haar licentiegevers. De inhoud van deze website mag alleen worden gebruikt voor persoonlijk gebruik. Zonder voorafgaande schriftelijke toestemming van MC1000 Supermarkten is het onder meer niet toegestaan de inhoud van deze website, of enig onderdeel daarvan, door te sturen, te verspreiden of tegen vergoeding beschikbaar te stellen aan derden, behalve voor zover strikt noodzakelijk is voor het gebruiken van deze website.

                    MC1000 supermarkten B.V. heeft het recht, doch niet de plicht, om de toegang tot informatie te onthouden dan wel om informatie van deze website te verwijderen indien er, naar het uitsluitend oordeel van MC1000 Supermarkten B.V., sprake is van (mogelijke) inbreuk op rechten van derden. Hetzelfde geldt indien naar het oordeel van MC1000 sprake is van onheuse bejegening van personen of rechtspersonen. MC1000 Supermarkten B.V. heeft tevens het recht om - tenzij anders overeengekomen met de auteur - ingezonden materiaal in te korten en/of aan te passen. Dit geldt voor tekst-, muziek- en beeldmateriaal.
                </p>
            </div>
        </div>
    </div>
</section>
