@model IEnumerable<MC1000.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

@section Styles {
    <link rel="stylesheet" href="~/css/category.css" type="text/css" />
}

<h1>Categories</h1>

@foreach (var item in Model)
{
<div class="category">
    @if (item.BannerImage != null)
    {
        <img src="~/banners/categories/@item.BannerImage" alt="Test" class="categoryImg" />
    }
    <p class="categoryText">@item.Name</p>
</div>
}