@model List<MC1000.Models.CategorieBanner>

@{
    ViewData["Title"] = "Categories";
}
@section Styles {
    <link rel="stylesheet" href="~/css/category.css" type="text/css" />
}

<div>
    @foreach (var item in Model)
    {
        @if (item.AfbeeldingUrl != null)
        {
            <img src="~/banners/@item.AfbeeldingUrl" alt="Category Banner"/>
        }
    }
</div>
<h1>Categories</h1>
<div class="category">

    <img src="https://previews.123rf.com/images/victoroancea/victoroancea1201/victoroancea120100059/12055848-tv-color-test-pattern-test-card-for-pal-and-ntsc.jpg" alt="Test" class="categoryImg" />
    <p>Test categorie</p>
</div>
<div class="category">
    <img src="https://previews.123rf.com/images/victoroancea/victoroancea1201/victoroancea120100059/12055848-tv-color-test-pattern-test-card-for-pal-and-ntsc.jpg" alt="Test" class="categoryImg" />
    <p>Test categorie</p>
</div>
<div class="category">
    <img src="https://previews.123rf.com/images/victoroancea/victoroancea1201/victoroancea120100059/12055848-tv-color-test-pattern-test-card-for-pal-and-ntsc.jpg" alt="Test" class="categoryImg" />
    <p>Test categorie</p>
</div>
<div class="category">
    <img src="https://previews.123rf.com/images/victoroancea/victoroancea1201/victoroancea120100059/12055848-tv-color-test-pattern-test-card-for-pal-and-ntsc.jpg" alt="Test" class="categoryImg" />
    <p>Test categorie</p>
</div>
<div class="category">
    <img src="https://previews.123rf.com/images/victoroancea/victoroancea1201/victoroancea120100059/12055848-tv-color-test-pattern-test-card-for-pal-and-ntsc.jpg" alt="Test" class="categoryImg" />
    <p>Test categorie</p>
</div>
<div class="category">
    <img src="https://previews.123rf.com/images/victoroancea/victoroancea1201/victoroancea120100059/12055848-tv-color-test-pattern-test-card-for-pal-and-ntsc.jpg" alt="Test" class="categoryImg" />
    <p>Test categorie</p>
</div>
<div class="category">
    <img src="https://previews.123rf.com/images/victoroancea/victoroancea1201/victoroancea120100059/12055848-tv-color-test-pattern-test-card-for-pal-and-ntsc.jpg" alt="Test" class="categoryImg" />
    <p>Test categorie</p>
</div>
<div class="category">
    <img src="https://previews.123rf.com/images/victoroancea/victoroancea1201/victoroancea120100059/12055848-tv-color-test-pattern-test-card-for-pal-and-ntsc.jpg" alt="Test" class="categoryImg" />
    <p>Test categorie</p>
</div>
<div class="category">
    <img src="https://previews.123rf.com/images/victoroancea/victoroancea1201/victoroancea120100059/12055848-tv-color-test-pattern-test-card-for-pal-and-ntsc.jpg" alt="Test" class="categoryImg" />
    <p>Test categorie</p>
</div>
<div class="category">
    <img src="https://previews.123rf.com/images/victoroancea/victoroancea1201/victoroancea120100059/12055848-tv-color-test-pattern-test-card-for-pal-and-ntsc.jpg" alt="Test" class="categoryImg" />
    <p>Test categorie</p>
</div>
<div class="category">
    <img src="https://previews.123rf.com/images/victoroancea/victoroancea1201/victoroancea120100059/12055848-tv-color-test-pattern-test-card-for-pal-and-ntsc.jpg" alt="Test" class="categoryImg" />
    <p>Test categorie</p>
</div>
<div class="category">
    <img src="https://previews.123rf.com/images/victoroancea/victoroancea1201/victoroancea120100059/12055848-tv-color-test-pattern-test-card-for-pal-and-ntsc.jpg" alt="Test" class="categoryImg" />
    <p>Test categorie</p>
</div>

