@model IEnumerable<MC1000.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

@section Styles {
    <link rel="stylesheet" href="~/css/category.css" type="text/css" />
}


<h1>Categories</h1>
@*Search function  *@
<div class="SearchBar" div style="border: 1px solid black;">
    <fieldset>
        <form asp-controller="Products" asp-action="ProductList">
            <p>
                <input type="text" name="SearchString" class="search" placeholder="Zoek naar een product...">
                <input type="submit" class="search-btn" value="Zoek" />
            </p>
        </form>
    </fieldset>
</div>

@foreach (var item in Model)
{
    <div class="category">
        @if (item.BannerImage != null)
        {
            <img src="~/banners/categories/@item.BannerImage" alt="Test" class="categoryImg" />
        }
        <a asp-action="SubCategories" asp-route-id="@item.Id"><p class="categoryText">@item.Name</p></a>
    </div>
}