
@{
    ViewData["Title"] = "Contact";
}

<link href="~/css/home.css" rel="stylesheet" />
<section class="page-section portfolio" id="portfolio">
    <div class="container" id="Algemenevoorwaarden">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary">Algemene Voorwaarden</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                Bezoekadres
                <ul>
                    <li>Adres: Kruseman van Eltenweg 4</li>
                    <li>                    Postcode: 1817 BC</li>
                    <li>                    Tel: (072) 547 66 00</li>
                    <li>                    Telefonisch bereikbaar vanaf 8.00 uur.</li>
                </ul>
            </div>
            <div class="col-lg-4 ml-auto">
                <p>
                   


                    <ul>
                        <li>Openingstijden</li>
                        <li>                    Maandag, dinsdag en donderdag: 07.30 uur - 22.00 uur</li>
                        <li>                    Woensdag: 07.30 uur - 18.00 uur</li>
                        <li>                    Vrijdag: 07.30 uur - 17.30 uur</li>
                    </ul>

                    
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <ul>
                    <li>Postgegevens</li>
                    <li>                    t.a.v. (ontvanger)</li>
                    <li>                    Postbus 30</li>
                    <li>                    1800 AA Alkmaar</li>
                </ul>
            </div>
        </div>
    </div>
</section>


