
@{
    ViewData["Title"] = "Home";
}

<div class="text-center" div style="border: 1px solid black;">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center" div style="border: 1px solid black;">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class=" col-sm" div style="border: 1px solid black; margin-bottom:20px;">

            <h1> Test kolumn 1</h1>
        </div>

        <div class="col-sm" div style="border: 1px solid black; margin-bottom:20px;">
            <h1>Test kolumn 2</h1>
        </div>

        <div class=" col-sm" div style="border: 1px solid black; margin-bottom: 20px;">

            <h1> test column 3</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="text-center" div style="border: 1px solid black;">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class=" col-sm" div style="border: 1px solid black; margin-bottom:20px;">

            <h1> Test kolumn 1</h1>
        </div>

        <div class="col-sm" div style="border: 1px solid black; margin-bottom:20px;">
            <h1>Test kolumn 2</h1>
        </div>

        <div class=" col-sm" div style="border: 1px solid black; margin-bottom: 20px;">

            <h1> test column 3</h1>
        </div>
    </div>
</div>