
@{
    ViewData["Title"] = "LeverenVerzenden";
}

<link href="~/css/home.css" rel="stylesheet" />
<section class="page-section portfolio" id="portfolio">
    <div class="container" id="Algemenevoorwaarden">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary">Leveren en verzend beleid</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg ml-auto">
                <h2>Hoe werkt online bestellen momenteel?</h2>
                <p>
                   Het coronavirus brengt heel veel onzekerheid met zich mee en vragen. We realiseren ons meer dan ooit de belangrijke rol die MC1000 speelt in de voedselvoorziening. We doen er dan ook alles aan om ervoor te zorgen dat je veilig en prettig jouw dagelijkse boodschappen kunt blijven doen.
                    <h3>Thuisbezorgen: je boodschappen tot aan de deur bezorgd</h3>
                <p>
                    Je hebt een keuze uit meer dan 27.000 artikelen. Niet alleen alles wat je in je vertrouwde Albert Heijn vindt, maar ook producten van Gall & Gall en Etos. Voor dezelfde prijs als in de winkels inclusief het Bonus voordeel. Laat het bezorgen wanneer het jou uitkomt. De servicekosten variëren tussen 3,95 en 12,95 afhankelijk van het moment dat je kiest. Het minimale orderbedrag is op bepaalde dagen al 50 euro! Als je veel bestelt krijg je korting op je servicekosten.
                </p>

            </div>


        </div>
    </div>
</section>