@{
    ViewData["Title"] = "Loading XML";
}
<h1>@ViewData["Title"]</h1>

<link href="~/css/home.css" rel="stylesheet" />
<section class="page-section portfolio" id="portfolio">
    <div class="container" id="Algemenevoorwaarden">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary">Privacy- en cookiebeleid</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg ml-auto">
                <p>
                    We willen jou als klant graag zo goed mogelijk van dienst zijn. Om dat te kunnen doen, hebben we enkele gegevens van je nodig en laten we je advertenties zien waarvan we denken dat je ze leuk vindt, aan de hand van informatie die we verzamelen via jou en derde partijen. We gebruiken die informatie alleen als daar een gerechtvaardigde grondslag voor bestaat.
                    We hebben dit privacybeleid geschreven om je uit te leggen welke informatie we verzamelen, hoe we die informatie gebruiken en welke keuzes je hebt. Omdat we een bedrijf zijn dat op het internet actief is, kan een deel van de informatie wat technisch zijn. We doen ons best om het zo helder en eenvoudig mogelijk uit te leggen. Vragen en opmerkingen over dit beleid zijn altijd welkom.
                </p>
                <h2>Wat zijn persoonsgegevens?</h2>
                <p>
                    Persoonsgegevens zijn gegevens die iets vertellen over jou of die we in verband kunnen brengen met jou.

                    Je deelt persoonsgegevens met ons als je klant bij ons bent of als je contact met ons hebt. Denk aan je naam, je telefoonnummer of je e-mailadres. Maar ook het IP-adres van je computer of een betaling. Het gaat om alle gegevens die we in verband kunnen brengen met jou. Ben je een bedrijf of stichting? Dan word je gezien als persoon en gaat het ook om gegevens die direct of indirect iets over jou vertellen.
                </p>

            </div>


        </div>
    </div>
</section>
