@model IEnumerable<MC1000.Models.SubCategory>

@{
    ViewData["Title"] = "SubCategories";
}

@section Styles {
    <link rel="stylesheet" href="~/css/category.css" type="text/css" />
}

<h1>SubCategories</h1>

@foreach (var item in Model)
{
    <div class="category">
        @if (item.BannerImage != null)
        {
            <img src="~/banners/subcategories/@item.BannerImage" alt="Test" class="categoryImg" />
        }
        <a asp-action="SubSubCategories" asp-route-id="@item.Id"><p class="categoryText">@item.Name</p></a>
    </div>
}