@model IEnumerable<MC1000.Models.SubCategory>

@{
    ViewData["Title"] = "SubCategorieën";
}

<section class="page-section portfolio" id="portfolio">
    <br />
    <div class="container">
        <!--Titel header-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Categorie naam</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Banner van Category-->
        <header><img src="" alt="Category Banner image" /></header>

        <!-- Subcategory-->
        @foreach (var sub in Model)
        {
            <section class="page-section portfolio" id="portfolio" style="background-color: #1abc9c">
                <div class="container">
                    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">@sub.Name</h2>
                    <!-- Icon Divider-->
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <!-- Grid Items-->
                    <div class="row">
                        <!-- subsub product Item -->
                        @foreach (var subsub in sub.SubSubCategories)
                        {
                            foreach (var product in subsub.Products)
                            {
                                <div class="col-md-6 col-lg-4 mb-5">
                                    <a asp-area="" asp-controller="" asp-action="" asp-route-id="">
                                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                            </div>
                                            <img class="img-fluid" src="@product.Image" style="min-height: 332px; min-width: 332px" alt="Product afbeelding" />

                                            <bold>@product.Title</bold>
                                            <p>@product.ShortDescription</p>
                                        </div>
                                    </a>
                                </div>
                            }

                        }
                    </div>
                </div>
            </section>
        }
    </div>
</section>