@model IEnumerable<MC1000.Models.DeliverySlot>

@{
    ViewData["Title"] = "Bezorgdatum";
}
<script type="text/javascript" src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<section class="page-section portfolio" id="portfolio">
    <br /> @*schaamteloze br*@
<div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Bezorgdatum Overzicht</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="container">

        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width:35%">
                <span class="sr-only">70% Complete</span>
            </div>
        </div>
    </div>

    <table id="sorttable" class="sortable table" cellspacing="0" width="100%">
        <thead class="thead-dark" style="cursor: pointer">
            <tr>
                <th>
                    Bezorgdatum
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryDate)
                    </td>
                    <td>
                        <a class="btn btn-outline-danger btn-xs" asp-action="TimeSlot" asp-route-id="@item.Id">Kies deze dag</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-outline-danger btn-xs" onclick="goBack()">Terug</button>
</div>
</section>

<script>
    function goBack() {
        window.history.back();
    }
    $(document).ready(function () {
        $('#sorttable').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>