@model IEnumerable<MC1000.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!--<p>
    <a asp-action="Create">Create New</a>
</p>-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BannerImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.BannerImage != null)
                {
                    <!--Toont de bannerfoto-->
                    <img src="~/banners/categories/@Html.DisplayFor(modelItem => item.BannerImage)" width="100" height="100" />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit Banner</a>
            </td>
        </tr>
}
    </tbody>
</table>
